<section>
    <div class = "row align-items-center">
        <div class = "col">
            <br>
            <b class="fs-1"> <div class="animate__animated animate__pulse" style="color: black;">Sobre nuestro sitio web</div></b>
            <p style="text-align: justify; font-size: 15px; color: black;">
                En nuestro sitio web, aprenderas sobre diversos heroes de grandes franquicias como Marvel y DC. Podras
                comprender sus origenes, que los motivo a ser heroes, su historia en general.
            </p>
        </div>
        <div class = "col">
            <br>
            <div class="animate__animated animate__jello"><img src="assets/img/marvelydc.png" class="rounded mx-auto d-block" alt="MarvelYDC" style="width: 500px;"></div>
            <br>
        </div>
    </div>
</section>
<section>
    <div class = "row align-items-center">
        <div class = "col">
            <br>
            <div class="animate__animated animate__jello"><img src="assets/img/heroesunidos.png" class="rounded mx-auto d-block" alt="Heroes" style="width: 500px;"></div>
            <br>
        </div>
        <div class = "col">
            <br>
            <b class="fs-1"><div class="animate__animated animate__pulse" style="color: black;">Nuestro objetivo</div></b>
            <p style="text-align: justify; font-size: 15px; color: black;">
                Nuestro objetivo es que puedas conocer disfrutar y conocer a tus heroes favoritos sin importar la franquicia de la que sea.
            </p>
        </div>
    </div>
</section>
<p class="text-center" style="font-size: 40px; color: black;"><b>HÉROES MAS FAMOSOS</b></p>
<section>
    <div class = "row align-items-center">
        <div class = "col">
            <br>
            <div class="text-center">
            <img src="assets/img/famoso1.png" alt="Heroes" style="width: 300px;" class="animate__animated animate__zoomInDown">
            </div>
            <div class="animate__animated animate__pulse"><p class="text-center" style="font-size: 20px; font-style: oblique; color: rgb(245, 8, 8)"><b>SPIDERMAN</b></p></div>
        </div>
        <div class = "col">
            <br>
            <div class="text-center">
                <img src="assets/img/famoso2.png" alt="Heroes" style="width: 300px;" class="animate__animated animate__fadeInUp">
            </div>
            <div class="animate__animated animate__pulse"><p class="text-center" style="font-size: 20px; font-style: oblique; color: black;"><b>BATMAN</b></p></div>
        </div>
        <div class = "col">
            <br>
            <div class="text-center">
            <img src="assets/img/famoso3.png" alt="Heroes" style="width: 317px;" class="animate__animated animate__slideInDown">
            </div>
            <div class="animate__animated animate__pulse"><p class="text-center" style="font-size: 20px; font-style: oblique; color: rgba(21, 8, 201, 0.753)"><b>SUPERMAN</b></p></div>
        </div>
    </div>
</section>

