<div class="row">
    <div class="col" *ngFor="let heroe of busqueda; let i = index">
        <div class="card" style="width: 18rem;">
            <img [src]="heroe.img" class="card-img-top" alt="Heroe">
            <div class="card-body">
                <h5 class="card-title">{{heroe.nombre}}</h5>
                <p class="card-text">{{heroe.bio}}</p>
                <p class="card-text"><small class="text-body-secondary">{{heroe.aparicion}}</small></p>
                <a (click)="verHeroe(i)" class="btn btn-primary">Saber más</a>
            </div>
        </div>
        <br>
    </div>
    <div *ngIf='busqueda.length === 0' class="text-center">
        <br>
        <b style="font-size: 100px;">NO ENCONTRADO</b>
        <br>
        <img src="assets/img/error.png" alt="Error" width="150">
        <br>
    </div>
</div>
